.vscode/

# MacOS
.DS_Store

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Project specific
output/
generated/
firmware/firmware.json
output.zip
debug/*.png
progress.txt
data/data_9999.json
picotool/
*.mp4
pyrightconfig.json
storage/

# Cache 
__pycache__/
